.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

revision1*
response1/

analyses/offtargets/scripts/cds.R
analyses/casrx/konermann
analyses/offtargets/objects/backup
analyses/casrx/sanjana/data/transcript_rna_celline.tsv
figures/guideset/old
resubmission